{% extends 'base_template.html' %}

{% block title %}
    Paint Program
{% endblock title %}

{% block extraheader %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

{% endblock extraheader %}



{% block content %}
<div id="mainCanvas" class="container">
    <div class="row">
    <canvas id="DrawCanvas" width="1000" height="600" >
    Your browser does not support the HTML5 canvas tag.</canvas><br>
    </div>
</div>

    <div class="colorbox" style="background-color:red;" data-bcolor="red"></div>
    <div class="colorbox" style="background-color:orange;" data-bcolor="orange"></div>
    <div class="colorbox" style="background-color:yellow;" data-bcolor="yellow"></div>
    <div class="colorbox" style="background-color:green;" data-bcolor="green"></div>
    <div class="colorbox" style="background-color:blue;" data-bcolor="blue"></div>
    <div class="colorbox" style="background-color:indigo;" data-bcolor="indigo"></div>
    <div class="colorbox" style="background-color:violet;" data-bcolor="violet"></div>
    <div class="colorbox" style="background-color:white" data-bcolor="white"></div>
    <div class="colorbox" style="background-color:black;" data-bcolor="black"></div>
    <div class="colorbox" style="background-color:grey;" data-bcolor="grey"></div>

    <div id="toolkit" class="container">

        <div id="slider" style="width:250px; margin:15px;"><br>
            Brush Width: <input type="text" id="brushWidth" value="1" readonly style="border:0; color:#341f07; font-weight:bold;">

        </div>

        <br><br>

        <button id="eraser" class="colorbox" style="background-color:white;width:100px;" data-bcolor="white">Eraser</button>

    </div>

    <div id='canvasImg'></div>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div><button id="bt_saveLocal">Save Local (This works)</button></div>
    <div><button id="bt_draw">Draw to Image (recreates lower</button></div>
    <div><button id="bt_download">Download Image</button></div>
    <image id="theimage"></image>


{% endblock content %}


