{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Welcome to my app!</h2>
        </div>
        <div class="panel-body">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Log in!">
            </form>
            <br>
            <p><a href="{% url 'register' %}">Register</a> |
            <a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>

    </div>
</div>

{% endblock %}