
{% block extraheader %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

{% endblock extraheader %}



{% block content %}


    <div id="mainCanvas">
{#        <div class="row">#}
        <canvas id="DrawCanvas" width="800" height="600" >
        Your browser does not support the HTML5 canvas tag.</canvas><br>
{#        </div>#}
    </div>

    <div id="toolkit">

        <div class="colorbox" style="background-color:#ff0000;" data-bcolor="red"></div>
{#        <div class="colorbox" style="background-color:#ff7f50;" data-bcolor="coral""></div>#}
        <div class="colorbox" style="background-color:#ffa500;" data-bcolor="orange"></div>
        <div class="colorbox" style="background-color:#ffff00;" data-bcolor="yellow"></div>
        <div class="colorbox" style="background-color:#008000;" data-bcolor="green"></div>
        <div class="colorbox" style="background-color:#0000ff;" data-bcolor="blue"></div>
        <div class="colorbox" style="background-color:#1e90ff;" data-bcolor="dodgerblue"></div>
{#        <div class="colorbox" style="background-color:#4b0082;" data-bcolor="indigo"></div>#}
        <div class="colorbox" style="background-color:#800080;" data-bcolor="purple"></div>
        <div class="colorbox" style="background-color:#ee82ee;" data-bcolor="violet"></div>
        <div class="colorbox" style="background-color:#ffffff;" data-bcolor="white"></div>
        <div class="colorbox" style="background-color:#000000;" data-bcolor="black"></div>
        <div class="colorbox" style="background-color:#808080;" data-bcolor="grey"></div>
        <div class="colorbox glyphicon glyphicon-star-empty"
             style="background-color:#414149; font-size:28px; color:#58ece4; vertical-align:super;" data-bcolor="stars"></div>

        <div id="slider"><br>
            Brush Width:
            <input type="text" id="brushWidth" value="1" readonly style="width: 50%; border:0; color:#341f07; font-weight:bold; display: inline-block;">
        </div>

        <br><br>

        <div id='canvasImg'></div>
        {{ request.path }}

            <input type="text" id="imgTitle" placeholder="Your Image Title" />
            <a class="btn btn-success" id="bt_saveLocal">Save Image</a>
            <a class="btn btn-success" id="bt_saveAs">Save As...</a>
            <a class="btn btn-default" id="clearCanvas">Clear Canvas</a>
            <a class="btn btn-info" id="bt_download">Download Image</a>
    {#    <div><button id="bt_draw">Draw to Image (recreates lower)</button></div>#}
    {#    <image id="theimage"></image>#}

    </div>

{% endblock content %}

