<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Image Title</h4>
            </div>
                <div class="modal-body">
                <img class="img-responsive" src="">
            </div>
            <div class="modal-footer">
                <a href="" type="button" class="btn btn-default" data-dismiss="modal" id="addFavorite">Add Favorite</a>
                <a href="" type="button" class="btn btn-default" data-dismiss="modal" id="unFavoriteImage">UnFavorite</a>
                <a href="" download="" type="button" class="btn btn-default" data-dismiss="modal" id="removeAuthor">Delete</a>
                <a href="" type="button" class="btn btn-success" id="downloadImage">Download</a>
                <a href="" type="button" class="btn btn-info" id="editImage">Edit Image</a>
            </div>
        </div>
    </div>
</div>